*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color: #e9fccf;
}
.item{
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 20vw;
    color: blue;
    background-color: #89fcb3;
    border-radius: 16px;    
}

.link{
    color: black;
}

.box{
    display: inline-block;
    width: 45vw;
    margin: 5vw;
    background-color: #b1fcb3;
    color: crimson;
    border: 2px double black;   
    box-shadow: 1px 1px 1px black;
}

.lista{
    background-color: #4e755c;
    border: 2px solid black;
}

.box:hover{
    border: 4px solid black;
    box-shadow: 5px 1px 1px black;
}

.item:hover{
    transform: scale(1.2);
}